html {
  height: 100vh;
  margin: 0;
}
body{
  margin: 0;
  height: 100vh;
}
button{
  border: none;
  background-color: transparent;
  cursor: pointer;
}
a{
  text-decoration: none;
  color: white;
}

.header-2{
  position: absolute !important;
}
.button-back{
  animation: fadein 1s;
    position: absolute;
    top: 10%;
    right: 2%;
    z-index: 10;
    right: 2%;
    border: 0;
    background-color: none;
    font-family: 'roadkill';
font-style: normal;
font-weight: 500;
font-size: 100px;
color: #EFEDDC;
}
#hidden-1,
#hidden-2,
#hidden-3,
.visible{
  animation: fadein 2s;
}

.link{
  position: absolute;
  font-family: 'roadkill';
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 36px;
  text-align: center;
  color: #EFEDDC;
  width: 200px;
}
.village-c, .stolica-c, .razlom-c{
  text-align: center;
font-family: 'Myfont2';
font-style: normal;
font-weight: 500;
font-size: 90px;
line-height: 98px;
color: #EFEDDC;
}
.stolica-c{
  position: absolute;
  transform: translate(-1.3em, 0.5em);
  -webkit-transform: translate(-1.3em, 0.5em);
  -moz-transform: translate(-1.3em, 0.5em);
  -o-transform: translate(-1.3em, 0.5em);
  -ms-transform: translate(-1.3em, 0.5em);
}
.village-c{
  position: absolute;
  transform: translate(0.7em, 0.5em);
  -webkit-transform: translate(0.7em, 0.5em);
  -moz-transform: translate(0.7em, 0.5em);
  -o-transform: translate(0.7em, 0.5em);
  -ms-transform: translate(0.7em, 0.5em);
}
.razlom-c{
  position: absolute;
  -webkit-transform: translate(-0.3em, 0.5em);
  transform: translate(-0.3em, 0.5em);
  -moz-transform: translate(-0.3em, 0.5em);
  -o-transform: translate(-0.3em, 0.5em);
  -ms-transform: translate(-0.3em, 0.5em);
}
.link-1{
  transform: translate(0em, 6.5em);
  -webkit-transform: translate(0em, 6.5em);
  -moz-transform: translate(0em, 6.5em);
  -o-transform: translate(0em, 6.5em);
  -ms-transform: translate(0em, 6.5em);
}
.link-2{
  transform: translate(4em, 2.5em);
  -webkit-transform: translate(4em, 2.5em);
  -moz-transform: translate(4em, 2.5em);
  -o-transform: translate(4em, 2.5em);
  -ms-transform: translate(4em, 2.5em);
}
.link-3{
  transform: translate(-5em, 1em);
  -webkit-transform: translate(-5em, 1em);
  -moz-transform: translate(-5em, 1em);
  -o-transform: translate(-5em, 1em);
  -ms-transform: translate(-5em, 1em);
}
.link-33{
  transform: translate(0em, -0.5em);
  -webkit-transform: translate(0em, -0.5em);
  -moz-transform: translate(0em, -0.5em);
  -o-transform: translate(0em, -0.5em);
  -ms-transform: translate(0em, -0.5em);
}
.link-4{  
  transform: translate(0.7em, -2.5em);
  -webkit-transform: translate(0.7em, -2.5em);
  -moz-transform: translate(0.7em, -2.5em);
  -o-transform: translate(0.7em, -2.5em);
  -ms-transform: translate(0.7em, -2.5em);
}
.link-5{  
  transform: translate(-4em, 3.5em);
  -webkit-transform: translate(-4em, 3.5em);
  -moz-transform: translate(-4em, 3.5em);
  -o-transform: translate(-4em, 3.5em);
  -ms-transform: translate(-4em, 3.5em);
}
.link-6{  
  transform: translate(5em, 2.5em);
  -webkit-transform: translate(5em, 2.5em);
  -moz-transform: translate(5em, 2.5em);
  -o-transform: translate(5em, 2.5em);
  -ms-transform: translate(5em, 2.5em);
}




#jsmap{
  transform: translate(-50%, -49%) scale(.5);
  overflow: -moz-hidden-unscrollable;
}
.link-7{
  transform: translate(0em, 3em);
  -webkit-transform:translate(0em, 3em);
  -moz-transform: translate(0em, 3em);
  -o-transform: translate(0em, 3em);
  -ms-transform: translate(0em, 3em);
}
.link-8{
  transform: translate(7em, -3em);
  -webkit-transform: translate(7em, -3em);
  -moz-transform: translate(7em, -3em);
  -o-transform: translate(7em, -3em);
  -ms-transform: translate(7em, -3em);
}
.m-sec1,
.m-sec2,
.m-sec3{
  margin-top: 0;
  margin-bottom: 0;
  width: 200px;
  animation: fadein 1s;
  position: absolute;
  top: 10%;
  left: 2%;
  z-index: 10;
  right: 2%;
  border: 0;
  background-color: none;
  font-family: 'roadkill';
font-style: normal;
font-weight: 500;
font-size: 100px;
color: #EFEDDC;

}
/*tablet 768*/
@media screen and (max-width: 768px){
  #jsmap{
    transform: translate(-50%, -49%) scale(0.3);
  }
  .button-back,
  .m-sec1,
.m-sec2,
.m-sec3{
    font-size: 60px;
  }

} 
/*phone 425px*/
@media screen and (max-width: 425px){
  #jsmap{
    transform: translate(-50%, -49%) scale(0.2);
  }
  .village-c, .stolica-c, .razlom-c{
    text-align: center;
  font-family: 'Myfont2';
  font-style: normal;
  font-weight: 500;
  font-size: 100px;
  line-height: 98px;
  color: #EFEDDC;
  }
  .button-back,
  .m-sec1,
.m-sec2,
.m-sec3{
    font-size: 40px;
    
  }
  .link-6{  
    transform: translate(3em, .5em);
    -webkit-transform: translate(3em, .5em);
    -moz-transform: translate(3em, .5em);
    -o-transform: translate(3em, .5em);
    -ms-transform: translate(3em, .5em);
  }
  .link-5{  
    transform: translate(-2em, 5.5em);
    -webkit-transform: translate(-2em, 5.5em);
    -moz-transform: translate(-2em, 5.5em);
    -o-transform: translate(-2em, 5.5em);
    -ms-transform: translate(-2em, 5.5em);
  }
  .link-4 {
    transform: translate(-0.3em, -4.5em);
    -webkit-transform: translate(-0.3em, -4.5em);
    -moz-transform: translate(-0.3em, -4.5em);
    -o-transform: translate(-0.3em, -4.5em);
    -ms-transform: translate(-0.3em, -4.5em);
}
.link-1 {
  transform: translate(0em, 9.5em);
  -webkit-transform: translate(0em, 9.5em);
  -moz-transform: translate(0em, 9.5em);
  -o-transform: translate(0em, 9.5em);
  -ms-transform: translate(0em, 9.5em);}
  .link-3 {
    transform: translate(-3em, 4em);
    -webkit-transform: translate(-3em, 4em);
    -moz-transform: translate(-3em, 4em);
    -o-transform: translate(-3em, 4em);
    -ms-transform: translate(-3em, 4em);}
    .link-2 {
      transform: translate(2em, 1.5em);
      -webkit-transform: translate(2em, 1.5em);
      -moz-transform: translate(2em, 1.5em);
      -o-transform: translate(2em, 1.5em);
      -ms-transform: translate(2em, 1.5em);
  }
  .link-33 {
    transform: translate(-1em, -1.5em);
    -webkit-transform: translate(-1em, -1.5em);
    -moz-transform: translat(-1em, -1.5em);
    -o-transform: translate(-1em, -1.5em);
    -ms-transform: translate(-1em, -1.5em);
}
.link-8 {
  transform: translate(6em, -3em);
  -webkit-transform: translate(6em, -3em);
  -moz-transform: translate(6em, -3em);
  -o-transform: translate(6em, -3em);
  -ms-transform: translate(6em, -3em);
}

element.style {
}
.link-7 {
    transform: translate(1em, 3em);
    -webkit-transform: translate(1em, 3em);
    -moz-transform: translate(1em, 3em);
    -o-transform: translate(1em, 3em);
    -ms-transform: translate(1em, 3em);
}






}

   



.map-js{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  
}
.map{
  position: relative;
  width: 4096px;
  height: 4096px;
  left: 50%;
  top: 50%;
  transition: 1s ease;
}
#image0_330_1263{
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.razlom-block{
  width: 200px;
height: 200px;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -289%);
}
.stolica-block{
  width: 200px;
height: 200px;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(164%, 118%);
}
.village-block{
  width: 200px;
height: 200px;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-376%, 118%);
}






